.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#todobox{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


#todoitems{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  width: 75%;
  margin: 25px auto;
  
}

.todocard{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}

.todocard > button{
  background-color: #007bff;
  margin: 30px 10px 10px 10px;
  border: none;
  color: white;
  width: 75px;
  padding: 7px;
}

.todocard > p{
  text-align: start;
}

#paginatebtncontrol{
  width: 15%;
  margin: 20px 130px;
  float: right;
}

#paginatebtncontrol > button{
  background-color: #007bff;
  margin: 10px;
  border: none;
  color: white;
  width: 50px;
  padding: 7px;
}